# .gitignore -Fichiers a ne pas versionner

# Environnement Python
--pycache--/
*.pyc
venv/
.env

# Model ML (trop gros pour Github)
models/*.pkl

# Fichiers OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/